.container {
	margin-top: 20px;
	width: auto;
}

@media (min-width: 534px) {
	.container {
		max-width: 800px;
	}
}

.carousel {
	max-width: 533px;
  max-height: 400px;
  overflow: hidden;
}

.carousel .item img {
    height: auto;
		width: auto;
		display: block;
		margin-left: 'auto';
		margin-right: 'auto';
}
